<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.revature.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.revature.EmployeeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SubmitTicketServlet</servlet-name>
        <servlet-class>com.revature.SubmitTicketServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterTicketServlet</servlet-name>
        <servlet-class>com.revature.RegisterTicketServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ViewPendingTicketsServlet</servlet-name>
        <servlet-class>com.revature.ViewPendingTicketsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ViewCheckedTicketsServlet</servlet-name>
        <servlet-class>com.revature.ViewCheckedTicketsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.revature.LogoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>com.revature.ManagerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ViewAllTicketsServlet</servlet-name>
        <servlet-class>com.revature.ViewAllTicketsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DecideTicketServlet</servlet-name>
        <servlet-class>com.revature.DecideTicketServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AcceptTicketServlet</servlet-name>
        <servlet-class>com.revature.AcceptTicketServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RejectTicketServlet</servlet-name>
        <servlet-class>com.revature.RejectTicketServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ChangeUsernameServlet</servlet-name>
        <servlet-class>com.revature.ChangeUsernameServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateUsernameServlet</servlet-name>
        <servlet-class>com.revature.UpdateUsernameServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.revature.ChangePasswordServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>com.revature.UpdatePasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SubmitTicketServlet</servlet-name>
        <url-pattern>/SubmitTicketServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterTicketServlet</servlet-name>
        <url-pattern>/RegisterTicketServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewPendingTicketsServlet</servlet-name>
        <url-pattern>/ViewPendingTicketsServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewCheckedTicketsServlet</servlet-name>
        <url-pattern>/ViewCheckedTicketsServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/ManagerServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewAllTicketsServlet</servlet-name>
        <url-pattern>/ViewAllTicketsServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DecideTicketServlet</servlet-name>
        <url-pattern>/DecideTicketServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AcceptTicketServlet</servlet-name>
        <url-pattern>/AcceptTicketServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RejectTicketServlet</servlet-name>
        <url-pattern>/RejectTicketServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChangeUsernameServlet</servlet-name>
        <url-pattern>/ChangeUsernameServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateUsernameServlet</servlet-name>
        <url-pattern>/UpdateUsernameServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>

</web-app>